.row-light {
  text-align: center;
  width: 400px;
  min-height: 100px;
  color: black;
  background-color: lightslategray;
  box-shadow: 3px 4px 6px #888888;
}

.row-dark {
  text-align: center;
  width: 400px;
  min-height: 100px;
  color: white;
  background-color: darkslategrey;
  box-shadow: 3px 4px 6px #888888;
}

.label {
  font-family: sans-serif;
  margin: 100px auto;
  color: #000;
  text-align: center;
  font-size: 14px;
  max-width: 600px;
}

.label::before,
.label::after {
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 130px;
  margin: 3px 11px;
  transform: translateY(-1px);
}
.content {
  margin-top: 5px;
}
